<div class="up-modal">
  <div class="up-modal-header">
    <div class="main-logo"><main-logo></main-logo></div>
    <h4 class="title">{{ isEdit ? 'Update' : 'Add' }} Subject</h4>
    <button class="close" (click)="close()">
      <span class="fa fa-window-close"></span>
    </button>
  </div>
  <form #subjectForm="ngForm">
    <div class="up-modal-body areas-forms">
      <div class="up-input">
        <label>Subject: </label>
        <input type="text" name="subject" [(ngModel)]="subject" required />
      </div>
      <div class="select up-input">
        <label>Grade level: </label>
        <select
          class="form-control"
          name="level"
          id="level"
          [(ngModel)]="level"
          required
        >
          <option value="" selected disabled>Select grade level</option>
          <option *ngFor="let item of levelList" [value]="item.id">
            {{ item.level }}
          </option>
        </select>
      </div>
    </div>
    <div class="up-modal-footer">
      <button class="btn btn-default" (click)="close()">Cancel</button>
      <button
        class="btn up-button"
        type="submit"
        (click)="submit(subjectForm.invalid)"
        [disabled]="subjectForm.invalid"
      >
        {{ isEdit ? 'Update' : 'Save' }}
      </button>
    </div>
  </form>
</div>
