@font-face {
  font-family: 'Lato';
  src: url('https://cdn.jsdelivr.net/font-lato/2.0/Lato/Lato-Hairline.eot?#iefix') format('embedded-opentype'),  
  url('https://cdn.jsdelivr.net/font-lato/2.0/Lato/Lato-Hairline.woff') format('woff'), 
  url('fonts/Lato-Hairline.ttf')  format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('https://cdn.jsdelivr.net/font-lato/2.0/Lato/Lato-HairlineItalic.eot?#iefix') format('embedded-opentype'),  
  url('https://cdn.jsdelivr.net/font-lato/2.0/Lato/Lato-HairlineItalic.woff') format('woff'), 
  url('fonts/Lato-HairlineItalic.ttf')  format('truetype');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url('https://cdn.jsdelivr.net/font-lato/2.0/Lato/Lato-Thin.eot?#iefix') format('embedded-opentype'),  
  url('https://cdn.jsdelivr.net/font-lato/2.0/Lato/Lato-Thin.woff') format('woff'), 
  url('fonts/Lato-Thin.ttf')  format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('https://cdn.jsdelivr.net/font-lato/2.0/Lato/Lato-ThinItalic.eot?#iefix') format('embedded-opentype'),  
  url('https://cdn.jsdelivr.net/font-lato/2.0/Lato/Lato-ThinItalic.woff') format('woff'), 
  url('fonts/Lato-ThinItalic.ttf')  format('truetype');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url('https://cdn.jsdelivr.net/font-lato/2.0/Lato/Lato-Light.eot?#iefix') format('embedded-opentype'),  
  url('https://cdn.jsdelivr.net/font-lato/2.0/Lato/Lato-Light.woff') format('woff'), 
  url('fonts/Lato-Light.ttf')  format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('https://cdn.jsdelivr.net/font-lato/2.0/Lato/Lato-LightItalic.eot?#iefix') format('embedded-opentype'),  
  url('https://cdn.jsdelivr.net/font-lato/2.0/Lato/Lato-LightItalic.woff') format('woff'), 
  url('fonts/Lato-LightItalic.ttf')  format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url('https://cdn.jsdelivr.net/font-lato/2.0/Lato/Lato-Regular.eot?#iefix') format('embedded-opentype'),  
  url('https://cdn.jsdelivr.net/font-lato/2.0/Lato/Lato-Regular.woff') format('woff'), 
  url('fonts/Lato-Regular.ttf')  format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('https://cdn.jsdelivr.net/font-lato/2.0/Lato/Lato-Italic.eot?#iefix') format('embedded-opentype'),  
  url('https://cdn.jsdelivr.net/font-lato/2.0/Lato/Lato-Italic.woff') format('woff'), 
  url('fonts/Lato-Italic.ttf')  format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url('https://cdn.jsdelivr.net/font-lato/2.0/Lato/Lato-Medium.eot?#iefix') format('embedded-opentype'),  
  url('https://cdn.jsdelivr.net/font-lato/2.0/Lato/Lato-Medium.woff') format('woff'), 
  url('fonts/Lato-Medium.ttf')  format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('https://cdn.jsdelivr.net/font-lato/2.0/Lato/Lato-MediumItalic.eot?#iefix') format('embedded-opentype'),  
  url('https://cdn.jsdelivr.net/font-lato/2.0/Lato/Lato-MediumItalic.woff') format('woff'), 
  url('fonts/Lato-MediumItalic.ttf')  format('truetype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url('https://cdn.jsdelivr.net/font-lato/2.0/Lato/Lato-Semibold.eot?#iefix') format('embedded-opentype'),  
  url('https://cdn.jsdelivr.net/font-lato/2.0/Lato/Lato-Semibold.woff') format('woff'), 
  url('fonts/Lato-Semibold.ttf')  format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('https://cdn.jsdelivr.net/font-lato/2.0/Lato/Lato-SemiboldItalic.eot?#iefix') format('embedded-opentype'),  
  url('https://cdn.jsdelivr.net/font-lato/2.0/Lato/Lato-SemiboldItalic.woff') format('woff'), 
  url('fonts/Lato-SemiboldItalic.ttf')  format('truetype');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url('https://cdn.jsdelivr.net/font-lato/2.0/Lato/Lato-Bold.eot?#iefix') format('embedded-opentype'),  
  url('https://cdn.jsdelivr.net/font-lato/2.0/Lato/Lato-Bold.woff') format('woff'), 
  url('fonts/Lato-Bold.ttf')  format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('https://cdn.jsdelivr.net/font-lato/2.0/Lato/Lato-BoldItalic.eot?#iefix') format('embedded-opentype'),  
  url('https://cdn.jsdelivr.net/font-lato/2.0/Lato/Lato-BoldItalic.woff') format('woff'), 
  url('fonts/Lato-BoldItalic.ttf')  format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url('https://cdn.jsdelivr.net/font-lato/2.0/Lato/Lato-Heavy.eot?#iefix') format('embedded-opentype'),  
  url('https://cdn.jsdelivr.net/font-lato/2.0/Lato/Lato-Heavy.woff') format('woff'), 
  url('fonts/Lato-Heavy.ttf')  format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('https://cdn.jsdelivr.net/font-lato/2.0/Lato/Lato-HeavyItalic.eot?#iefix') format('embedded-opentype'),  
  url('https://cdn.jsdelivr.net/font-lato/2.0/Lato/Lato-HeavyItalic.woff') format('woff'), 
  url('fonts/Lato-HeavyItalic.ttf')  format('truetype');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url('https://cdn.jsdelivr.net/font-lato/2.0/Lato/Lato-Black.eot?#iefix') format('embedded-opentype'),  
  url('https://cdn.jsdelivr.net/font-lato/2.0/Lato/Lato-Black.woff') format('woff'), 
  url('fonts/Lato-Black.ttf')  format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('https://cdn.jsdelivr.net/font-lato/2.0/Lato/Lato-BlackItalic.eot?#iefix') format('embedded-opentype'),  
  url('https://cdn.jsdelivr.net/font-lato/2.0/Lato/Lato-BlackItalic.woff') format('woff'), 
  url('fonts/Lato-BlackItalic.ttf')  format('truetype');
  font-weight: 900;
  font-style: italic;
}

body{
     font-family: Lato; 
}