.browse {
  input {
    outline: none;
    border: 1px solid #dbdbdb;
    padding: 10px 10px 10px 10px;
    font-size: 14px;
    color: #999;
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
  select {
    outline: none;
    font-size: 14px;
    padding: 10px;
    width: 100%;
    border: 1px solid #dbdbdb;
    color: #999;
  }
}
