<div class="modal-header">
  <h4 class="modal-title pull-left">Browse Product</h4>
  <button
    type="button"
    class="close pull-right"
    aria-label="Close"
    (click)="close()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form #searchForm="ngForm" (submit)="submit(searchForm.invalid)">
  <div class="modal-body browse">
    <input
      type="number"
      name="budget"
      [(ngModel)]="budget"
      placeholder="Please enter your budget"
      required
    />
    <select name="types" id="types" [(ngModel)]="types" required>
      <option value="" disabled selected>Select Category</option>
      <option *ngFor="let type of productType" [value]="type.id">
        {{ type.type }}
      </option>
    </select>
  </div>
  <div class="modal-footer">
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="searchForm.invalid"
    >
      Browse
    </button>
  </div>
</form>
