<div class="breadcrumbs">
  <div class="container">
    <ul
      class="breadcrumb breadcrumb1 animated wow slideInLeft"
      data-wow-delay=".5s"
    >
      <li>
        <a routerLink="/">
          <span class="fa fa-home" aria-hidden="true"></span> Home
        </a>
      </li>
      <li class="active">Business Infomation</li>
    </ul>
  </div>
</div>
<div class="register business-info">
  <div class="container">
    <div class="login-form-grids">
      <h5>Business Infomation</h5>
      <form
        role="form"
        #businessForm="ngForm"
        (submit)="submit(businessForm.invalid)"
      >
        <input
          type="text"
          name="name"
          [(ngModel)]="name"
          #formName="ngModel"
          placeholder="Business Name"
          required
        />
        <small
          *ngIf="
            formName.invalid &&
            (formName.dirty || formName.touched) &&
            formName.errors.required
          "
          class="form-text text-danger"
        >
          This field is required.
        </small>

        <input
          type="text"
          name="license"
          [(ngModel)]="license"
          #formLicense="ngModel"
          placeholder="License Number"
          required
        />
        <small
          *ngIf="
            formLicense.invalid &&
            (formLicense.dirty || formLicense.touched) &&
            formLicense.errors.required
          "
          class="form-text text-danger"
        >
          This field is required.
        </small>

        <input
          type="text"
          name="contactNo"
          [(ngModel)]="contactNo"
          #formContact="ngModel"
          placeholder="Contact Number"
          required
        />
        <small
          *ngIf="
            formContact.invalid &&
            (formContact.dirty || formContact.touched) &&
            formContact.errors.required
          "
          class="form-text text-danger"
        >
          This field is required.
        </small>

        <textarea
          name="address"
          [(ngModel)]="address"
          #formAddress="ngModel"
          rows="5"
          placeholder="Enter Business Address"
          required
        ></textarea>
        <small
          *ngIf="
            formAddress.invalid &&
            (formAddress.dirty || formAddress.touched) &&
            formAddress.errors.required
          "
          class="form-text text-danger"
        >
          This field is required.
        </small>

        <input type="submit" value="{{ isUpdating ? 'Update' : 'Save' }}" />
      </form>
    </div>
  </div>
</div>
