<div class="up-modal">
  <div class="up-modal-header">
    <div class="main-logo"><main-logo></main-logo></div>
    <h4 class="title">Account Settings</h4>
    <button class="close" (click)="close()">
      <span class="fa fa-window-close"></span>
    </button>
  </div>
  <form #userForm="ngForm" (submit)="submit(userForm.invalid)">
    <div class="up-modal-body settings">
      <div class="up-input">
        <label>Username: </label>
        <input type="text" name="username" [(ngModel)]="username" required />
      </div>
      <div class="up-input">
        <label>Password: </label>
        <input
          type="password"
          name="password"
          [(ngModel)]="password"
          required
        />
      </div>
    </div>
    <div class="up-modal-footer">
      <button class="btn btn-default" (click)="close()">Cancel</button>
      <button class="btn up-button" type="submit" [disabled]="userForm.invalid">
        Update
      </button>
    </div>
  </form>
</div>
