<div class="modal-header">
  <h4 class="modal-title pull-left">Add Image</h4>
  <button
    type="button"
    class="close pull-right"
    aria-label="Close"
    (click)="close()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form #userForm="ngForm">
  <div class="modal-body add-type">
    <img-cropper [image]="data" [settings]="cropperSettings"></img-cropper
    ><br />
    <img
      *ngIf="data.image"
      [src]="data.image"
      [width]="cropperSettings.croppedWidth"
      [height]="cropperSettings.croppedHeight"
    />
  </div>
  <div class="modal-footer">
    <button type="submit" (click)="saveImage()" class="btn btn-primary">
      Save Image
    </button>
  </div>
</form>
