<section class="hero-area">
  <div class="hero-slides owl-carousel">
    <div
      class="single-hero-slide bg-img"
      style="background-image: url(assets/img/bg-img/bg-2.jpg);"
    >
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <div class="col-12">
            <div class="hero-slides-content">
              <h2 data-animation="fadeInUp" data-delay="400ms">
                Wellcome to <br />I-UP School
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="top-features-area wow fadeInUp" data-wow-delay="300ms">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="features-content">
          <div class="row no-gutters">
            <!-- Single Top Features -->
            <div class="col-12 col-md-6">
              <div
                class="single-top-features d-flex align-items-center justify-content-center"
              >
                <i
                  class="icon-agenda-1"
                  style="cursor: pointer;"
                  routerLink="/app/pre-enroll"
                ></i>
                <h5 style="cursor: pointer;" routerLink="/app/pre-enroll">
                  Pre Enrollment
                </h5>
              </div>
            </div>
            <!-- Single Top Features -->
            <div class="col-12 col-md-6">
              <div
                class="single-top-features d-flex align-items-center justify-content-center"
              >
                <i class="icon-assistance"></i>
                <h5>Amazing Teachers</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="academy-courses-area section-padding-100-0">
  <div class="container">
    <div class="row">
      <!-- Single Course Area -->
      <div class="col-12 col-sm-6 col-lg-4">
        <div
          class="single-course-area d-flex align-items-center mb-100 wow fadeInUp"
          data-wow-delay="300ms"
        >
          <div class="course-icon"><i class="icon-id-card"></i></div>
          <div class="course-content">
            <h4>Scholl Bills</h4>
            <p>
              View pupil's statement of account
            </p>
          </div>
        </div>
      </div>
      <!-- Single Course Area -->
      <div class="col-12 col-sm-6 col-lg-4">
        <div
          class="single-course-area d-flex align-items-center mb-100 wow fadeInUp"
          data-wow-delay="400ms"
        >
          <div class="course-icon"><i class="icon-worldwide"></i></div>
          <div class="course-content">
            <h4>Learning Materials</h4>
            <p>Downloadable materials for learning</p>
          </div>
        </div>
      </div>
      <!-- Single Course Area -->
      <div class="col-12 col-sm-6 col-lg-4">
        <div
          class="single-course-area d-flex align-items-center mb-100 wow fadeInUp"
          data-wow-delay="500ms"
        >
          <div class="course-icon"><i class="icon-map"></i></div>
          <div class="course-content">
            <h4>Class Schedules</h4>
            <p>
              Class Program for each grades
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
