<div
  class="breadcumb-area bg-img"
  style="background-image: url(assets/img/bg-img/breadcumb.jpg);"
>
  <div class="bradcumbContent"><h2>Grading Information</h2></div>
</div>
<div class="grading section-padding-100">
  <div class="container">
    <div class="controls">
      <button class="btn up-button print" (click)="print()">
        <i class="fa fa-print"></i> Print
      </button>
      <h3>Grading Level:</h3>
      <div class="forms">
        <div class="select up-input">
          <select
            class="form-control"
            name="level"
            id="level"
            [(ngModel)]="level"
            required
          >
            <option value="" selected disabled>Select grade level</option>
            <option *ngFor="let item of levelList" [value]="item.id">
              {{ item.level }}
            </option>
          </select>
        </div>
        <!-- <div class="button">
          <button class="btn up-button" (click)="getPupils()">Go</button>
        </div> -->
      </div>
    </div>
    <div class="lists" *ngIf="pupilsList.length">
      <h3>Pupil's List</h3>
      <div class="item" *ngFor="let item of pupilsList">
        <span class="name" (click)="showDetails(item)">
          {{ item.lastName + ', ' + item.firstName }}
        </span>
      </div>
    </div>
  </div>
</div>
