<div class="modal-header">
  <h4 class="modal-title pull-left">Manage Account</h4>
  <button
    type="button"
    class="close pull-right"
    aria-label="Close"
    (click)="close()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form #userForm="ngForm">
  <div class="modal-body add-type">
    <div class="forms">
      <div class="form-row">
        <div class="form-group col">
          <label for="password">Username</label>
          <input
            type="text"
            class="form-control"
            id="username"
            name="username"
            [(ngModel)]="username"
            (ngModelChange)="checkUsername($event)"
            #formUsername="ngModel"
            required
          />
          <small
            *ngIf="
              formUsername.invalid &&
              (formUsername.dirty || formUsername.touched) &&
              formUsername.errors.required
            "
            class="form-text text-danger"
            >This field is required.</small
          >
          <small
            *ngIf="username && !isUsernameValid && !usernameChange"
            class="form-text text-danger"
            >Username is already used.</small
          >
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <label for="password">New Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            [(ngModel)]="password"
            #formPassword="ngModel"
            required
          />
          <small
            *ngIf="
              formPassword.invalid &&
              (formPassword.dirty || formPassword.touched) &&
              formPassword.errors.required
            "
            class="form-text text-danger"
            >This field is required.</small
          >
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="submit"
      (click)="submit(userForm.invalid)"
      class="btn btn-primary"
    >
      Save
    </button>
  </div>
</form>
<p></p>
