.teacher-info {
  p {
    font-size: 20px;
    margin: 0;
    text-align: center;
    &.info {
      font-size: 14px;
      margin-top: 15px;
      > a {
        cursor: pointer;
        color: #0000ee;
        font-size: 16px;
        text-decoration: underline;
      }
    }
  }
}
