<app-admin-breadcrumbs [page]="breadcrumbs"></app-admin-breadcrumbs>
<div class="container supplier-report">
  <div class="title">
    <span>Suppliers Report</span>
    <button class="btn btn-print" (click)="print()">
      <i class="fa fa-print"></i> Print
    </button>
  </div>
  <canvas
    *ngIf="isSupplier"
    baseChart
    [datasets]="barChartData"
    [labels]="barChartLabels"
    [options]="barChartOptions"
    [legend]="barChartLegend"
    [chartType]="barChartType"
  >
  </canvas>
  <div class="chart-wrapper">
    <canvas
      *ngIf="isSupplier"
      #chartSupplier
      baseChart
      [datasets]="barChartData"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      [legend]="barChartLegend"
      [chartType]="barChartType"
    ></canvas>
  </div>
</div>
