.add-users {
  .users-type {
    label {
      font-size: 16px;
      font-weight: 600;
    }
    .custom-radio label {
      cursor: pointer;
      font-weight: normal;
    }
  }

  .users-form {
    background: #fff;
    padding: 10px 15px;
    border-radius: 2px;
    text-align: center;
    margin-top: 10px;
    label {
      font-size: 16px;
      font-weight: 600;
    }
  }
}
